@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
  }
*{
    margin: 0;
    padding: 0;
}
/* .bg-light{
    max-width: 1440px;
} */
.full{
   background-color: rgb(0, 0, 0);
}
.display-flex{
    display: flex;
}
.bg-light{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding: 0px 150px;
}
.color{
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    font-size: 18px;
font-weight: 600;
line-height: 22px;
border-radius: 42px;

background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
margin-top: 28px;
}
.btn{
    font-size: 18px;
font-weight: 600;
padding: 16px 40px 16px 40px;
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;

}

/* navbar related styles */
.brand{
    color: rgb(230, 83, 60);
    font-size: 36px;
font-weight: 800;
}
.home{
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
background: rgb(230, 83, 60);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; 
}
.nav-link{
    text-decoration: none;
}
.nav-links{
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
}
.nav-item{
    
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
font-weight: 400;
}

.banner{
   padding: 50px;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}
.banner-title {
    font-size: 78px;
font-weight: 900;
}
/* .ita{
   font-style: oblique;
} */
 .banner-description{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
 }
 .first-img{
    
    height: 580px;
    
 }

  .circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    position: absolute;

  }

 #experience-year{
    color: rgb(250, 250, 249);
    font-size: 24px;
font-weight: 900;
 }
 .experience-work{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
font-weight: 400;
line-height: 24px;
 }
 #experience-badge{
    width: 206px;
height: 96px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
/* Rectangle 17 */
position: absolute;

right: 470px;
top: 550px;

 }
 #badge-2{
    width: 193px;
height: 98px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
position: absolute;
bottom: 520px;
right:110px;
 }

 /* habit related styles */
 .habit-section{
    width: 1044px;
height: 452px;
 }
 .habit-title{
    font-size: 48px;
    font-weight: 900;
 }
 .habit-description{
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
 }
 .habit{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

 }
 .habit-content{
    width: 240px;
height: 290px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-top: 58px;
gap: 40px;

 }
 .text{
    font-size: 18px;
font-weight: 600;
text-align: center;
margin-top: 30px;
 }
 .content{
    font-size: 14px;
font-weight: 400;
text-align: center;
margin-top: 6px;
 }
 .habit-img{
    border-radius: 50%;
    width: 220px;
height: 180px;
 }
 
 main>section{
    margin: 0 auto;
 }

 /* run related style */
 .run{
    width: 1060px;
height: 371px;
    border-radius: 18px;

background: rgb(34, 34, 34);
margin-top: 100px;


 }
 .run-section{
    margin: 40px 54px;
   
 }
 .run-image{
    
    width: 366px;
height: 312px;
border-radius: 18px;
margin: 30px 32px;
 }
 .running{
    display: flex;   
 }
 .run-image{
    margin-left: 150px;
 }
/* training related style */
.train{
    width: 1060px;
height: 581px;
    margin-top: 100px;
}
.exercise{
    margin-top: 58px;
    width: 1060px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.ex-1{
    width: 250px;
height: 200px;
background: rgba(6, 255, 210, 0.5),url(3);
}
.ex-2{
    width: 520px;
height: 200px;
}
.ex-3{
    width: 290px;
height: 200px;
}
.ex-4{
    width: 425px;
height: 200px;
}
.ex-5{
    width: 288px;
height: 200px;
}
.ex-6{
    width: 347px;
height: 200px;
}